* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Oxanium', cursive;
    ;
}

.header {
    display: flex;
    justify-content: center;
}


.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    max-width: 1200px;
}

.links {
    display: flex;
    gap: 40px;
}

.link-start {
    background-color: #282A2C;
    padding: 15px 30px;
    color: #ffffff;
    border-radius: 6px;
}