* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Oxanium', cursive;
    ;
}

.header {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.links {
    display: flex;
    gap: 60px;
}

.links li a {
    color: #546C80;
    font-size: 1.2rem;
}

.services a {
    color: #303E49;
}

.link-start {
    background-color: #282A2C;
    padding: 15px 30px;
    color: #ffffff;
    border-radius: 6px;
}

.boxTitulo {
    width: 600px;
}

.imagemFace {
    width: 600px;
}

.imagemFace img {
    width: 100%;
    display: block;
    position: relative;
}


.titulo {
    font-size: 6rem;
    letter-spacing: 1.6px;
}

.blueTxt {
    color: #3A78F2;
}

.divButtons {
    display: flex;
    gap: 40px;
    margin-top: 100px;
}

.startedBtn {
    background-color: #3A78F2;
    padding: 20px 46px;
    border: 1px solid #3A78F2;
    border-radius: 8px;
    color: #ffffff;
}

.learnBtn {
    padding: 20px 54px;
    border: 1px solid #3A78F2;
    border-radius: 8px;
    color: #3A78F2;

}

.sectionOne {
    display: flex;
    justify-content: center;
}

.divSection {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin-top: 40px;
}

.divEmpresas {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.empresas {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
